body {
  font-family: 'Arial', sans-serif;
  background-color: #bde50a;
}

/* Adjusting image size within weather display */
#weather-display img {
  width: 50px;
  height: 50px;
}

.forecast-day {
  background-color: #1986f4;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.forecast-day img {
  width: 60px;
  height: 60px;
}

/* Adding custom styles for responsiveness */
@media (max-width: 1024px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .forecast-day {
    padding: 15px;
  }
  
  #search-btn, #current-location-btn {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .forecast-day {
    padding: 10px;
  }
  
  h2 {
    font-size: 2rem;
  }
}
